HOST=127.0.0.1
PORT=3000
MEDIA_ENGINE_PROVIDER_TIMEOUT_MS=5000
MEDIA_ENGINE_STREAMING_PROVIDER_TIMEOUT_MS=10000
MEDIA_ENGINE_FLIXHQ_STREAMING_PROVIDER_TIMEOUT_MS=15000
VITE_MEDIA_ENGINE_API_URL=http://127.0.0.1:3000
